/* General Styles */
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #646464;
}

h1, h2, h3, h4, h5{
    color: red;
}

li{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: yellow;
}

/* Header */
header{
    background-color: black;
    border-bottom: solid 3px white;
}

nav{
    display: flex;
    justify-content: center;
}

header h2{
    margin: auto;
    text-align: center;
    padding: 15px;
}

header a{
    padding: 14px;
    font-size: 14px;
}

header li{
    padding: 14px;
}

/* Home Page Hero Banner*/
.heroimg{
    width: 100%;
}

#homehero h4{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

#homehero h1{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

#homehero h5{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}

/*Main content, first section*/
#hc-one{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 1.8rem;
}

#hc-boxone{
    display: flex;
    width: 60%;
}

#hc-boxone img{
    width: 50%;
    margin: 0px 10px;
}

#hc-boxtwo{
    width: 40%;
    padding: 5px;
    color: red;
    text-align: center;
    align-items: center;
}

#hc-boxtwo h4{
    padding: 5px;
    color: black;
    text-align: center;
}


#hc-two{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 1.8rem;
}

#hc-boxthree{
    width: 40%;
    padding: 5px;
    color: red;
    text-align: center;
}

#hc-boxfour img{
    width: 50%;
    margin: 0px 10px;
}

#hc-boxfour{
    display: flex;
    width: 60%;
}

#hc-boxthree h4{
    padding: 5px;
    color: black;
}    


#hc-boxtwo button{
    background-color: yellow;
    font-size: 1.8rem;
}

/*Main Content, Branches Section*/
.branches{
    color: red;
}
.branches h3, h4{
    color: black;
}

/*Footer*/
footer{
    color: white;
    background-color: black;
}

footer h4{
    color: white;
}

.f-boxone{
    color: yellow;
}