/* General Styles */
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #646464;
}

h1, h2, h3, h4{
    color: black;
}

li{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #646464;
}

/* Header */
header{
    background-color: #2b2727;
}
nav{
    display: flex;
    justify-content: space-around;
}
header h2{
    margin: auto;
    color: white;
    text-align: center;
    padding: 15px;
}
header a{
    padding: 15px;
}
header li{
    padding: 15px;
}