/* General Styles */
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #646464;
}

h1, h2, h3, h4, h5{
    color: black;
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
}

button{
    background-color: #af9651;
    color: white;
    border: solid #6e4e05 1px;
    border-radius: 5px;
    padding: 5px;
}

/* Header */
header{
    background-color: #af9651;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: center;
}

header h2{
    margin: auto;
    text-align: center;
    padding: 15px;
}

header a{
    padding: 14px;
    font-size: 14px;
}

header li{
    padding: 14px;
}

/* Home Page Hero Banner*/
.heroimg{
    width: 100%;
}

#homehero h4{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

#homehero h1{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

#homehero h5{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}

/*Main content, first section*/
#hc-one{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 1.3rem;
    margin-top: 100px;
    margin-bottom: 50px;
}

#hc-boxone{
    display: flex;
    width: 65%;
    justify-content: space-between;
}

#hc-boxone img{
    width: 49%;
}

#hc-boxtwo{
    width: 35%;
    padding: 5px;
    color: grey;
    text-align: center;
    align-items: center;
}

#hc-boxtwo h4{
    padding: 5px;
    color: black;
    text-align: center;
}


#hc-two{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 100px;
}

#hc-boxthree{
    width: 35%;
    padding: 5px;
    color: grey;
    text-align: center;
}

#hc-boxfour img{
    width: 49%;
}

#hc-boxfour{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

#hc-boxthree h4{
    padding: 5px;
    color: black;
}    


#hc-boxtwo button{
    padding: 8px;
    font-size: 0.9rem;
}


/*Main Content, Branches Section*/
.branches{
    color: grey;
    background-color: #f4f4f4;
    padding: 10px 0px 100px 0px;
}

.branches h3, h4{
    color: black;
}

.branches h3{
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.branches div{
    display: flex;
    justify-content: space-around;
}

.branch{
    width: 22%;
    text-align: center;
    background-color: white;
    border: solid 1px #dedede;
    border-radius: 10px;
}

.branches img{
    width: 80%;
}

.branches button{
    margin: 10px;
}


/*Footer*/
footer{
    color: #9b9b9b;
    background-color: black;
}

.mainfooter{
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
}

footer h4{
    color: white;
    border-bottom: solid 1px #9b9b9b;
    padding: 10px 0px 25px 0px;
}

footer p{
    color: white;
}

footer a{
    color: #9b9b9b;
}

footer li{
    padding: 10px 0px;
}

.f-boxone{
    text-align: center;
}

.f-boxone h4{
    color: #af9651;
    border-bottom: none;
}


.f-icons{
    display: flex;
    justify-content: space-around;
}

.fa{
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.7;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-instagram{
    background: #C13584;
    color: white;
}

.fa-youtube-play{
    background: #FF0000;
    color: white;
}


.copyright{
    border-top: 1px solid #9b9b9b;
    padding: 5px;
}